footer.footer {
  text-align: center;
  padding: 25px 0;
  margin-top: -70px;
  height: 70px;
  border-top: 1px solid #ccc;
  -webkit-box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.1);
  background-color: #ddd;
  color: #fff;
  text-shadow: #bbb 1px 1px 1px;
}
