<div ng-if="vm.model && vm.form">
  <div class="form-group"
       ng-class="{ 'has-success': vm.form.address1.$valid && vm.form.$submitted && !vm.form.$hasError,
                         'has-error': vm.form.address1.$invalid && vm.form.$submitted || vm.form.$hasError }">
    <label>Address 1</label>
    <input type="text" name="address1" class="form-control" ng-model="vm.model.address.Address1" required/>
    <p class="help-block" ng-show="vm.form.address1.$error.required && vm.form.$submitted">
      What's your address?
    </p>
  </div>

  <div class="form-group" >
    <label>Address 2</label>
    <input type="text" name="address2" class="form-control" ng-model="vm.model.address.Address2" />
  </div>

  <div class="form-group" >
    <label>City</label>
    <input type="text" name="city" class="form-control" ng-model="vm.model.address.City" />
  </div>

  <div class="form-group"
       ng-class="{ 'has-success': vm.form.state.$valid && vm.form.$submitted && !vm.form.$hasError,
                         'has-error': vm.form.state.$invalid && vm.form.$submitted || vm.form.$hasError }">
    <label>State</label>
    <select name="state" class="form-control" ng-model="vm.model.address.State" required>
      <option value="">Choose the state</option>
      <option value="AL">Alabama</option>
      <option value="AK">Alaska</option>
      <option value="AZ">Arizona</option>
      <option value="AR">Arkansas</option>
      <option value="CA">California</option>
      <option value="CO">Colorado</option>
      <option value="CT">Connecticut</option>
      <option value="DE">Delaware</option>
      <option value="DC">District Of Columbia</option>
      <option value="FL">Florida</option>
      <option value="GA">Georgia</option>
      <option value="HI">Hawaii</option>
      <option value="ID">Idaho</option>
      <option value="IL">Illinois</option>
      <option value="IN">Indiana</option>
      <option value="IA">Iowa</option>
      <option value="KS">Kansas</option>
      <option value="KY">Kentucky</option>
      <option value="LA">Louisiana</option>
      <option value="ME">Maine</option>
      <option value="MD">Maryland</option>
      <option value="MA">Massachusetts</option>
      <option value="MI">Michigan</option>
      <option value="MN">Minnesota</option>
      <option value="MS">Mississippi</option>
      <option value="MO">Missouri</option>
      <option value="MT">Montana</option>
      <option value="NE">Nebraska</option>
      <option value="NV">Nevada</option>
      <option value="NH">New Hampshire</option>
      <option value="NJ">New Jersey</option>
      <option value="NM">New Mexico</option>
      <option value="NY">New York</option>
      <option value="NC">North Carolina</option>
      <option value="ND">North Dakota</option>
      <option value="OH">Ohio</option>
      <option value="OK">Oklahoma</option>
      <option value="OR">Oregon</option>
      <option value="PA">Pennsylvania</option>
      <option value="RI">Rhode Island</option>
      <option value="SC">South Carolina</option>
      <option value="SD">South Dakota</option>
      <option value="TN">Tennessee</option>
      <option value="TX">Texas</option>
      <option value="UT">Utah</option>
      <option value="VT">Vermont</option>
      <option value="VA">Virginia</option>
      <option value="WA">Washington</option>
      <option value="WV">West Virginia</option>
      <option value="WI">Wisconsin</option>
      <option value="WY">Wyoming</option>
    </select>
    <p class="help-block" ng-show="vm.form.state.$error.required && vm.form.$submitted">
      What's your state?
    </p>
  </div>

  <div class="form-group"
       ng-class="{ 'has-success': vm.form.zip5.$valid && vm.form.$submitted && !vm.form.$hasError,
                         'has-error': vm.form.zip5.$invalid && vm.form.$submitted || vm.form.$hasError }">
    <label>Zip5</label>
    <input type="text" name="zip5" class="form-control" ng-model="vm.model.address.Zip5" required />
    <p class="help-block" ng-show="vm.form.zip5.$error.required && vm.form.$submitted">
      What's Zip5?
    </p>
  </div>

  <div class="form-group" >
    <label>Zip4</label>
    <input type="text" name="zip4" class="form-control" ng-model="vm.model.address.Zip4" />
  </div>
</div>
