<div>
  <div class="row">
    <div class="col-sm-2">
      <table class="table table-hover table-condensed" ng-class="{'is-hidden': filter.paid === 'allUnpaid'}">
        <thead>
          <tr>
            <th width="150">Date</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody click-outside="deselectDate()">
          <tr ng-class="{'active': selectedDate === item.date}" ng-repeat="item in payments" ng-click="setDate($event, item.date)">
            <td>{{item.date | date}}</td>
            <td>{{item.summary.toFixed(2)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="filter-events">
            <div class="row">
              <div class="col-sm-2" ng-if="plc.user.role === 'admin'">
                <a class="btn btn-success" ng-click="paySelected()" ng-disabled="filter.paid === 'allPaid'">Pay All Selected</a>
              </div>
              <div class="col-sm-3">
                <select class="input-sm form-control" style="height: 34px;" ng-model="filter.paid">
                  <option value="allPaid">All Paid</option>
                  <option value="allUnpaid">All Unpaid</option>
                </select>
              </div>
              <div class="col-sm-3">
                <span class="input-group">
                  <input id="date-end-for-payments" type="text" class="form-control" uib-datepicker-popup="MMMM d, y" ng-model="filter.dateTo" is-open="popup2.opened" datepicker-options="dateOptions" required close-text="Close"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open2()" style="height: 34px;"><i class="fa fa-calendar"></i></button>
                    </span>
                </span>
              </div>
            </div>
          </div>
          <table st-table="events" st-pipe="plc.pipe" class="table table-hover table-condensed table-events">
            <thead>
            <tr>
              <th ng-if="plc.user.role === 'admin' && filter.paid === 'allUnpaid'"><input type="checkbox" ng-model="states.allEventsAreSelected" ng-change="selectAll(states.allEventsAreSelected)"></th>
              <th ng-if="plc.user.role === 'admin'">Caterer</th>
              <th>Customer</th>
              <th st-sort="date" st-skip-natural="true">Event Date</th>
              <th st-sort="name" st-sort-default="true">Event Name</th>
              <th>Total</th>
              <th>Commission</th>
              <th>Refund</th>
              <th>Adjustment</th>
              <th>Net</th>
              <th>Date Paid (from Customer)</th>
              <th ng-if="filter.paid === 'all' || filter.paid === 'allPaid'">Date Paid (to Caterer)</th>
              <th ng-if="plc.user.role === 'admin' && filter.paid === 'allUnpaid'"></th>
            </tr>
            <tr>
              <th ng-if="plc.user.role === 'admin' && filter.paid === 'allUnpaid'"></th>
              <th ng-if="plc.user.role === 'admin'"></th>
              <th><input st-search="customer" style="width: 50px;" class="input-sm form-control" type="search"/></th>
              <th><input st-search="date" style="width: 120px;" class="input-sm form-control" type="search"/></th>
              <th><input st-search="name" class="input-sm form-control" style="width: 100px;" type="search"/></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th ng-if="filter.paid === 'all' || filter.paid === 'allPaid'"></th>
              <th ng-if="plc.user.role === 'admin' && filter.paid === 'allUnpaid'"></th>
            </tr>
            </thead>
            <tbody ng-show="!isPiping">
            <tr ng-repeat="event in displayed" ng-class="{'drafted': event.drafted, 'active': event.active, 'hidden': event.hide}" ng-click="setActiveEvent(event)">
              <td ng-if="plc.user.role === 'admin' && filter.paid === 'allUnpaid'"><input ng-if="event.status !== 'completed' || event.paymentStatus !== 'completed'" type="checkbox" ng-model="selectedEvents[event._id]" ng-change="select(selectedEvents[event._id])"></td>
              <td ng-if="plc.user.role === 'admin'">{{event.offers[0].catererName}}</td>
              <td>{{event.customer}}</td>
              <td>{{event.date | date: "longDate"}}</td>
              <td style="max-width: 100px;">{{event.name}}</td>


              <td>{{event.offers[0].invoice.total.toFixed(2)}}</td>
              <td>{{(event.offers[0].invoice.total * (event.offers[0].invoice.commission / 100)).toFixed(2)}}</td>
              <td>{{event.offers[0].invoice.refund.toFixed(2)}}</td>
              <td>
                <span ng-if="event.offers[0].invoice.refund">{{event.offers[0].invoice.refund.toFixed(2)}}</span>
                <span ng-if="!event.offers[0].invoice.refund">{{event.offers[0].invoice.adjustment.client.toFixed(2)}} ({{event.offers[0].invoice.adjustment.caterer.toFixed(2)}}/{{event.offers[0].invoice.adjustment.chargeOff.toFixed(2)}})</span>
              </td>
              <td>
                <span ng-if="event.offers[0].invoice.refund">0.00</span>
                <span ng-if="!event.offers[0].invoice.refund">{{(event.offers[0].invoice.total * ((100 - event.offers[0].invoice.commission) / 100) - event.offers[0].invoice.adjustment.caterer).toFixed(2)}}</span>
              </td>
              <td>{{!event.paymentPaidDate ? 'pending' : (event.paymentPaidDate | date)}}</td>
              <td ng-if="filter.paid === 'allPaid'">{{!event.datePaid ? 'pending' : (event.datePaid | date)}}</td>
              <td ng-if="plc.user.role === 'admin' && filter.paid === 'allUnpaid'">
                <div>
                  <a class="btn btn-xs btn-primary" ng-click="open(event.offers[0])" ng-disabled="isDisabled(event)">Adjust</a>
                  <a class="btn btn-xs btn-success" ng-if="event.offers[0].paymentStatus === 'paid'" ng-click="pay(event.offers[0])" ng-disabled="isDisabled(event)">Pay</a>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td st-pagination="" st-items-by-page="10" colspan="6">
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="col-sm-12" ng-if="eventsSummary && notDefaultSummary() && !isPiping && (selectedDate || (plc.user.role === 'caterer' && eventActive) || (plc.user.role === 'admin' && hasSelectedEvents())) && ((plc.user.role === 'caterer' && displayed.length > 0) || (plc.user.role === 'admin' && (filter.paid === 'allPaid' || (filter.paid === 'allUnpaid' && hasSelectedEvents())) && displayed.length > 0))">
        <tr>
          <th>Subtotal</th>
          <th>Tax</th>
          <th>Total</th>
          <th>Commission</th>
          <th>Refunds</th>
          <th>House Adjust</th>
          <th>Caterer Adjust</th>
          <th>Net Caterer</th>
          <th ng-if="plc.user.role === 'admin'">Stripe Fee</th>
          <th ng-if="plc.user.role === 'admin'">Net Ninja</th>
        </tr>
        <tr>
          <td>{{eventsSummary.service.toFixed(2)}}</td>
          <td>{{eventsSummary.tax.toFixed(2)}}</td>
          <td>{{eventsSummary.total.toFixed(2)}}</td>
          <td>{{eventsSummary.commission.toFixed(2)}}</td>
          <td>{{eventsSummary.refund.toFixed(2)}}</td>
          <td>{{eventsSummary.adjustment.chargeOff.toFixed(2)}}</td>
          <td>{{eventsSummary.adjustment.caterer.toFixed(2)}}</td>
          <td>{{eventsSummary.net.toFixed(2)}}</td>
          <td ng-if="plc.user.role === 'admin'">{{eventsSummary.stripeFee.toFixed(2)}}</td>
          <td ng-if="plc.user.role === 'admin'">{{eventsSummary.netHouse.toFixed(2)}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
